
<h1>
    Fin del modo aleatorio:
</h1>

<div>
    Preguntas correctas = <span id="score"><%= score %></span>
</div>

<p>
    Has respondido todas las preguntas. ENHORA BUENA, has terminado.
</p>

<p>
    <a href="/quizzes"><button>Volver</button></a>
</p>

