
<h1>
    Resultado:
</h1>

<p>
    La respuesta <strong> <%= answer %> </strong> es <%= result ? 'Correcta' : 'Incorrecta' %>.
</p>

<p>
    <% if (!result) { %>
       <a href="/quizzes/<%= quiz.id %>/play?answer=<%= answer %>"> Inténtalo de nuevo! </a>
    <% } %>
</p>

<a href="/quizzes"><button>Volver</button></a>
